@import url('http://fonts.cdnfonts.com/css/brush');
*{
    box-sizing: border-box;
}
main{
    height:100%;
    width:100%;

}
html,body{
    margin:0;
    background-image: linear-gradient(to top, rgba(1, 4, 19, 0.562),#1f2833),
    url('ardennes.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    width:100%;
    height:100%;
    font-family: 'Alegreya Sans SC';font-size: 22px;  
    overflow:hidden;
}
a{
    text-decoration: none;
    color:inherit;
}
header{
    position:sticky;
    top:0;
    flex:100%;
    width:100%;
    height:125px;
    flex-flow: column wrap;
    display:flex;
    background-image: linear-gradient(to top, rgba(31, 40, 51,0.1),#1f2833,#1f2833);
}
#logo>a>img:hover{
    cursor:pointer;
}
#mobile-navbar>img:hover{
    cursor:pointer;
}
#logo{
padding-left:5px;
flex:50%;
}
#navbar{
    flex:50%;
    margin:auto;
    position:relative;
    bottom:10%;
}
.options{
list-style: none;
color:#66fcf1;
text-shadow: 2px 2px 10px #0b0c10;

}
.options>li{
    position:relative;
    top:15px;
    font-size: 30px;
    
}
.options>li>a:hover{
    color:#45a29e;
    text-shadow: 2px 2px 50px #0b0c10;
}
#navbar>.options{
    position:relative;
    top:22%;
}
#navbar>.options>li{
    display:inline-block;
    padding-left:20px;
}
#logo>a>img{
    height:150px;
    width:275px;
}
#mobile-navbar{
    display:none;
}
#mobile-navbar>.options{
    display:none;
    position:absolute;
    top:70px;
    left:-20px;
    flex-flow:row wrap;
    padding:0px;
    height:50px;
}
#mobile-navbar>.options>li{
    flex:100%;
    height:50px;
    background-color: #1f2833;
    BORDER: 1px solid #0b0c10;
    padding: 0 5px;


}
#mobile-navbar>.options>li:nth-child(1){
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}
#mobile-navbar>.options>li:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#mobile-navbar>.options>li>a{
    height:30px;
    font-size: 20px;
    text-shadow: 2px 2px #0b0c10;
    text-align: center;
}
h1{
    margin-top: 100px;
    color:#66fcf1;
    text-align: center;
    font-size:50px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 20px #0b0c10;
}
#content{
    color:#c5c6c7;
    text-align: center;
}
q{
    font-size:150%;
    text-shadow:2px 2px 5px #45a29e;
}
b{
    color:#45a29e;
}
b:hover{
  color:#66fcf1;  
}
#cards{
    float:right;
    
 }
#cards>img{
height:10%;
width:10%;
}
#flag,#bomb,#miner,#marshal,#spy,#general,#colonel,#major,#captain,#lieutenant,#sergeant,#scout{
    display:none;
    height:100%;
    width:100%;
 position:absolute;
 top:20%;
}
#descriptions{
    display:none;
}
#descriptions img{
    float:left;
    height:500px;
    width:450px;
}
@media (max-width: 1000px) {
    #navbar>.options{
        display:none;
    }
    #mobile-navbar{
    display:flex;
    flex:50%;
    position:absolute;
    right:30px;
    top:15%;
    }
    #main{
        font-size:70%;
    }
    #descriptions img{
        height:200px;
        width:200px;
        float:none;
        justify-content: center;
    }
    #descriptions{
        font-size:70%;
        margin:auto;
    }
    #mobile-navbar>img{
        width:100px;
        height:100px;
    }
  }